.ruleGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-width: 1px;
}

.queryBuilder .ruleGroup .ruleGroup-header {
  /* Move group header below body. */
  /* You could also accomplish the same effect with */
  /* a custom RuleGroup or Rule component without */
  /* rearranging the header and body. Also note that */
  /* this method can cause problems with drag-and-drop. */
  order: 2;
}

.ruleGroup-body {
  /* Override the default flex layout */
  display: grid !important;
  /* Allow the right-hand column (the rule/subgroup) to expand as needed */
  /* Collapse the left-hand column (the combinator) to the width of the content */
  grid-template-columns: min-content auto;
  /* Keep the combinator aligned with the top of the rule/subgroup */
  align-items: start;
}

.ruleGroup-body .betweenRules{
  display: flex;
  flex-direction: column;
}

/* Indent the first rule/subgroup since it has no preceding combinator */
.ruleGroup-body > .rule:first-child:not(:only-child),
.ruleGroup-body > .ruleGroup:first-child:not(:only-child) {
  grid-column-start: 2;
}



.queryBuilder > .ruleGroup > .ruleGroup-header > .ruleGroup-addRule {
  /* Hide "add rule" button from root group */
  display: none;
}
.queryBuilder > .ruleGroup > .ruleGroup-body .ruleGroup-addGroup {
  /* Hide "add group" button from "and" groups */
  display: none;
}
.queryBuilder > .ruleGroup > .ruleGroup-body .ruleGroup-remove {
  /* Hide "remove group" button from "and" groups */
  /* display: none; */
}


/* Add "Where" at the first child of rule */
.ruleGroup:not([data-level="0"]):not(
    [data-level="1"]:where(:not(:has(> .ruleGroup-body > .rule)))
  )
  .ruleGroup-body:has(:first-child):before {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 2.3rem;
  color: var(--twentycrm-font-color-secondary);
  --tw-content: "Where";
  content: var(--tw-content);
}













.ruleGroup .ruleGroup-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.ruleGroup .ruleGroup-body:empty {
  display: none;
}
.ruleGroup .ruleGroup-header,
.ruleGroup .rule {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.ruleGroup .rule .rule-value:has(.rule-value-list-item) {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.ruleGroup .shiftActions {
  display: flex;
  flex-direction: column;
}
.ruleGroup .shiftActions > * {
  padding: 0;
}
.dndOver.rule,
.dndOver.ruleGroup-header {
  padding-bottom: 0.5rem;
}
.dndOver.betweenRules {
  padding-top: 0.5rem;
}
.queryBuilder-branches .ruleGroup-body {
  margin-left: calc(2 * 0.5rem);
}
.queryBuilder-branches .rule,
.queryBuilder-branches .ruleGroup .ruleGroup {
  position: relative;
}
.queryBuilder-branches .rule::before,
.queryBuilder-branches .rule::after,
.queryBuilder-branches .ruleGroup .ruleGroup::before,
.queryBuilder-branches .ruleGroup .ruleGroup::after {
  content: "";
  width: 0.5rem;
  left: calc(-0.5rem - 1px);
  border-radius: 0;
  position: absolute;
}
.queryBuilder-branches .rule::before,
.queryBuilder-branches .ruleGroup .ruleGroup::before {
  top: -0.5rem;
  height: calc(50% + 0.5rem);
  border-width: 0 0 1px 1px;
}
.queryBuilder-branches .rule::after,
.queryBuilder-branches .ruleGroup .ruleGroup::after {
  top: 50%;
  height: 50%;
  border-width: 0 0 0 1px;
}
.queryBuilder-branches .rule:last-child::after,
.queryBuilder-branches .ruleGroup .ruleGroup:last-child::after {
  display: none;
}
.queryBuilder-branches .ruleGroup .ruleGroup::before,
.queryBuilder-branches .ruleGroup .ruleGroup::after {
  left: calc(-0.5rem - 1px - 1px);
}
.queryBuilder-branches .ruleGroup .ruleGroup::before {
  top: calc(-0.5rem - 1px);
  height: calc(50% + 0.5rem + 1px);
}
.queryBuilder-branches .ruleGroup .ruleGroup::after {
  height: calc(50% + 1px);
}

.ruleGroup {
  border-color: hsl(var(--border));
  border-style: solid;
  border-radius: 0.25rem;
  /* background: rgba(0, 75, 183, 0.2); */
}
.ruleGroup .shiftActions > * {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.dndOver.rule,
.dndOver.ruleGroup-header {
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  border-bottom-color: hsl(var(--border));
}
.dndOver.rule.dndCopy,
.dndOver.ruleGroup-header.dndCopy {
  border-bottom-color: hsl(var(--border));
}
.dndOver.betweenRules {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: hsl(var(--border));
}
.dndOver.betweenRules.dndCopy {
  border-top-color: hsl(var(--border));
}
.ruleGroup.dndDragging,
.rule.dndDragging {
  opacity: 0.5;
}
.ruleGroup .queryBuilder-dragHandle,
.rule .queryBuilder-dragHandle {
  cursor: move;
}
.queryBuilder-branches .rule::before,
.queryBuilder-branches .rule::after,
.queryBuilder-branches .ruleGroup .ruleGroup::before,
.queryBuilder-branches .ruleGroup .ruleGroup::after {
  border-color: hsl(var(--));
  border-style: solid;
}
.queryBuilder-branches .rule:last-child::before,
.queryBuilder-branches .ruleGroup .ruleGroup:last-child::before {
  border-bottom-left-radius: 0.25rem;
}
.queryBuilder-branches .betweenRules {
  position: relative;
}
.queryBuilder-branches .betweenRules::before {
  border-color: hsl(var(--));
  border-style: solid;
}
